* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin-top: 10px;
  background-color: lightseagreen;
}
.container_padre{
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  margin: auto;
}
.title{
  text-align: center;
}
.sub_title{
  font-size: 15px;
  text-align: center;
  text-decoration: underline;

}

.container_hijo{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.list{
  height: 300px;
  padding: 30px;
  background-color: lightseagreen;
  margin: 10px;
  padding-top: 3px;
  border-radius: 10px;
  border: 1px black dashed;
}